PASO_provincias/IndEle.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasCandidaturaSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/MesasSublemaSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/NomAmbitos.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/NomCandidatosGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/NomCandidatosPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/NomElecciones.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/NomPartidos.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalCandidaturaSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaConcejales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaDNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaDProvinciales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaGobernador.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaPNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaPRegionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaPresidente.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaSNacionales.csv filter=lfs diff=lfs merge=lfs -text
PASO_provincias/TotalSubLemaSProvinciales.csv filter=lfs diff=lfs merge=lfs -text
